
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');


body{
    
    font-family: 'Poppins', sans-serif;
    
    background-color: #E9D498;
}
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tittle{
    color: #CD5C5C;
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
}

.subtitle{
color: #3F0071;
font-size:20px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}
.tarjeta-de-mokepon{
    width : 180px;
    height : 100px;
    background-color : #5d1abc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.tarjeta-de-mokepon img {
    width: 80px;
    
}
/* .tarjeta-de-mokepon p{
    color: wheat;;
    font-size: 20px;
    font-weight: bold;
}
 */
#boton-mascota{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background: transparent;
    /*  background-color: #1abc7b;*/
    border: 2px  solid #1abc7b;
    /* margin-top: 20px; */
    font-family: 'Poppins', sans-serif;
    color: white;
}

input{
    display: none;
}

#seleccionar-ataque{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-de-atack{
    background-color: #764ade;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 180px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.button-atacks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#mensajes{
    width: 270;
    background: #e9e4f0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
#boton-reiniciar{
    border:none;
    color: #4603d8;
    font-family: 'Poppins', sans-serif;
}
 
.atacks{
    display: grid;
    grid-template-columns: 100px 100px;
}

.enemies-atacks, .players-atacks{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* max-width es desde cero hasta el max-width donde va a funcionar nuestro css */
@media (max-width: 565px){
    .tarjetas, .button-atacks{
        flex-direction: column;
    }
}
